---
layout: ""
page_title: "Provider: Device42"
description: |-
  The Device42 provider provides resources to interact with Device42's API.
---

# Device42 Provider

The Device42 provider provides resources to interact with Device42's API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
